/* Error: Undefined variable.
 *   ,
 * 9 |   background: $white;
 *   |               ^^^^^^
 *   '
 *   scss\_profile.scss 9:15  @content
 *   scss\_mixins.scss 10:5   bem()
 *   scss\_profile.scss 5:1   @use
 *   scss\main.scss 3:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502    background: $white;\d\a   \2502                ^^^^^^\a   \2575 \a   scss\\_profile.scss 9:15  @content\a   scss\\_mixins.scss 10:5   bem()\a   scss\\_profile.scss 5:1   @use\a   scss\\main.scss 3:1       root stylesheet";
}
